body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #C9CDD0;
  padding: 10px;
}

#header-gif {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#todo-container {
  margin-top: 20px;
}

#new-todo {
  width: 60%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

#new-priority {
  width: 20%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  margin-left: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#new-priority:hover {
  background-color: #e2e2e2;
}

#new-priority:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

#add-todo {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 10px;
}

#add-todo:hover {
  background-color: #45a049;
}

#add-todo:active {
  transform: scale(0.98);
}

#todo-list {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #FFF;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item button {
  background: none;
  border: none;
  cursor: pointer;
}

.todo-item button:hover {
  color: red;
}

.todo-text.done {
  text-decoration: line-through;
  color: gray;
}

.priority-select {
  margin-left: 10px;
}

/* High Priority */
.priority-1 {
  background-color: #ffcccc; /* Light red */
}

/* Medium Priority */
.priority-2 {
  background-color: #ffffcc; /* Light yellow */
}

/* Low Priority */
.priority-3 {
  background-color: #ccffcc; /* Light green */
}