body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #0099ff;
  padding: 10px;
}

h1 {
  color: #ffffff;
  /* Change this color to match your superhero theme */
}

#timer {
  font-size: 2em;
  margin: 20px 0;
}

button {
  background-color: #000000;
  /* Change this color to match your superhero theme */
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  /* Change this color to match your superhero theme */
}
